.body{
    background-color: white;
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 0;
    padding: 5px;
    display: grid;
    grid-template-columns: 2.55fr 1fr;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.policy{
    background-color: white;
    padding: 15px;
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding-left: 100px;
}
.sidebar{
    background-color: white;
    padding: 15px;
    width: 320px;
    height: 320px;
    border-radius: 5px;
    border: 3px solid lightgray;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 20px;
    margin-top: 100px;
    right: 50px;
    left: auto;
    top: 40px;
}
h1{
    color: blue !important;
    text-align: center;
    padding-bottom: 20px;
}
p{
    padding: 0px;
    margin-bottom: 0px;
}
.sidebar ul {
    list-style: none;
    padding: 10px;
}

.sidebar ul li {
    margin: 0px 0;
}

.sidebar ul li a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    transition: 0.2s;
}

.sidebar ul li a:hover {
    background: lightblue;
}
.delivery_pic{
    display: block;
    margin: 0 auto;
    width: 500px;
    height: auto;
    padding-bottom: 20px;

}
h3{
    padding-bottom: 5px;
}
h4{
    padding-bottom: 0px;
    font-weight: bold;  
}
