.body{
    background-color: white;
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 0;
    padding: 5px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}
.policy{
    background-color: white;
    padding: 20px;
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding-left: 45px;
}
.sidebar{
    background-color: white;
    padding: 5px;
    width: 100%;
    height: auto;
    border-radius: 5px;
    border-color: aliceblue;
}
h1{
    color: blue !important;
    text-align: center;
    padding-bottom: 20px;
}
.delivery_pic{
    display: block;
    margin: 0 auto;
    width: 500px;
    height: auto;
    padding-bottom: 20px;
}
h2{
    padding-bottom: 20px;
}
h3{
    padding-bottom: 10px;
}


